<!--- Formulário para o cadastro --->
<div class="center-cadastro">
  <h2>Cadastrar</h2>
  <%=form_with model:@user, url: :new_user, method: :post do |form| %>
    <div class="txt_field_cadastro">
      <i class="fa fa-user"></i>
      <input type="text" required>
      <label>Nome</label>
    </div>
    <div class="txt_field_cadastro">
      <i style="margin-left: auto;" class="fa fa-envelope"></i>
      <input type="text" required>
      <label>Email</label>
    </div>
    <div class="txt_field_cadastro">
      <i class="fa fa-lock"></i>
      <input type="password"required>
      <label>Senha</label>
    </div>
    <div class="txt_field_cadastro">
      <i class="fa fa-lock"></i>
      <input type="password" required>
      <label>Confirme sua senha</label>
    </div>
    <div class="check">
        <p>Gêneros favoritos</p>
        <input type="checkbox"> Comédia
        <input type="checkbox"> Drama
        <input type="checkbox"> Terror
        <input type="checkbox"> Ação
    </div>
    <div class="question">
      <i class="fa fa-question"></i>
      <p>Sobre mim</p>
      <textarea id="big-text" rows="5"></textarea>
    </div>
    <%= form.submit "Cadastrar" %>
  <% end %>
</div>

<!--- Para a linha no centro --->
</div>
<div class="box"></div>
<div class="box linha-vertical"></div>