<h1>Aqui ficará a homepage</h1>
<%=link_to 'cadastrar', new_user_path %>

<%@todos.each do |f| %>
  <p><%= link_to 'editar info ', edit_user_path(f) %></p>
  <p><%= link_to 'mostrar info', show_user_path(f) %></p>
<% end %>
  <p><%= link_to 'filme', show_movie_path(1) %></p>